[user]
	email = miv403@duck.com
	name = miv403
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMYVDoBMXl0SqLvGAIxpCuu1QvAerYZGp1QrhR5eze6g miv403@duck.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
[init]
	defaultBranch = master
[help]
	autocorrect = 10
[core]
	editor = vim
[commit]
	gpgsign = true
[gpg]
	format = ssh
